.glider {
    width: 95%;
    margin: 0;
    padding: 1px;
    display: flex;
    align-items: center;
    position: relative;
    overflow-x: scroll;
}

.glide {
    min-width: 100px;
    height: 105px;
    transition: 0.5s;
}

.moveBehind {
    font-size: 20px;
}

.moveAhead {
    font-size: 20px;
}

.pointer {
    cursor: pointer;
    font-size: 20px;
    top: 11%;
    color: #404040;
}
